.container {
  @apply flex flex-col;
  @apply my-6;

  width: 100%;

  section {
    @apply flex flex-row;

    & > * {
      @apply px-4;
    }
  }
}

.viewTabs {
  @apply px-4;
}

.editorContainer {
  @apply flex flex-col flex-1;

  form {
    @apply flex flex-col flex-1;

    width: 100%;

    input {
      @apply p-2;
      @apply border-b-2;
      @apply rounded-sm;
      @apply focus:ring-4 focus:ring-indigo-300;
    }
  }
}

.editor {
  @apply my-6;
}

.preview {
  @apply flex flex-col flex-1;

  h1 {
    font-size: 40px;
  }
}

.buttons {
  @apply flex flex-row;

  button {
    margin-right: 1.5rem;
  }
}

.iframePreview {
  border: none;
  display: block;
  width: 100%;
  height: 100vh;
}
