.article {
  padding: 10px 0;
  width: 385px;

  div {
    display: flex;

    @apply flex-col sm:flex-row;
  }

  h3 {
    font-size: 1.2em;
  }

  span {
    font-size: 0.8em;
  }
}

.excerpt {
  text-align: justify;
  padding: 0.5rem;
  width: 380px;

  p {
    padding: 0 !important;

    @apply line-clamp-4;
  }
}

.header {
  position: relative;

  img {
    @apply rounded-t-lg;
    @apply h-40 md:max-h-full;
    @apply sm:w-full;
    @apply md:object-cover;
  }

  h3 {
    align-items: flex-end;
    bottom: 0;
    display: flex;
    min-height: 100px;
    position: absolute;

    @apply text-gray-100;
    @apply bg-gradient-to-t from-stone-800;
    @apply p-2;
  }
}
