.featuredArticle {
  @apply rounded-lg overflow-hidden;
  @apply border-2 border-slate-500 hover:shadow-md;

  a {
    @apply flex gap-4 flex-col sm:flex-row;
  }

  .image {
    position: relative;
    min-width: 300px;
    height: 250px;

    @media (0 < width < theme('screens.sm')) {
      width: 100%;
    }
  }

  .content {
    @apply py-2;
    // width: calc(900px - 2rem);

    h2 {
      @apply text-4xl text-slate-800 underline hover:no-underline;
      @apply mb-1;
    }

    span {
      @apply text-base text-slate-600;
    }

    p {
      @apply text-lg text-slate-700;
    }
  }
}
