.container {
  @apply flex flex-col gap-4;

  h1 {
    @apply p-0 text-6xl;
  }

  p {
    padding: 10px 0;
  }

  hr {
    border: 4px solid;
  }

  .articleCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }
}
