.layoutContainer {
  @apply box-border container;
  @apply flex justify-center flex-col;
  @apply mx-auto py-6;
  @apply font-sans text-2xl;
  @apply w-full;

  color: #1b262c;

  a {
    color: #3725b7;

    @apply relative after:absolute cursor-pointer;
    @apply after:h-0.5 after:w-0 after:bottom-0 after:left-0 hover:after:w-full;
    @apply after:bg-[#3725b7];
    @apply after:transition-all after:duration-300;
  }

  a:visited {
    color: #99004a;

    @apply after:bg-[#99004a];
  }
}

.pageItem {
  @apply w-8 flex justify-center items-center;
  @apply cursor-pointer leading-5 transition duration-150 ease-in;
}
