.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin: 0 auto;
  width: fit-content;

  header {
    text-align: center;

    h1 {
      font-size: 5rem;
      line-height: 1.5;
    }
  }

  section {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;

    a {
      padding: 1rem;
    }

    img {
      width: 2.5rem;
    }
  }
}
