.latestPosts {
  @apply flex flex-wrap justify-between;

  a {
    @apply my-6;
  }
}

.excerpt {
  @apply w-full h-60 py-4 px-6 flex flex-col justify-between;

  h2 {
    @apply font-mono font-semibold text-2xl leading-tight;
  }

  p {
    @apply mt-2;
    @apply text-lg text-gray-800;
    @apply flex-1;
  }

  span {
    @apply text-base text-gray-700 tracking-wide font-semibold mt-2;

    a {
      @apply text-blue-700;

      &:hover {
        @apply font-medium;

        text-decoration: underline;
      }
    }
  }
}

@screen lg {
  .excerpt {
    h3 {
      @apply text-3xl;
    }
  }
}

.thumbnail {
  position: relative;

  @apply w-full;

  img {
    @apply object-cover rounded-t-lg;
  }
}

@screen md {
  .thumbnail {
    @apply h-full;

    width: 54%;

    img {
      @apply rounded-none rounded-l-lg;
    }
  }
}
