.container {
  @apply py-6;

  h1 {
    @apply pb-3 font-mono font-semibold text-3xl tracking-wide;
  }

  h2 {
    @apply pt-2 font-mono font-semibold text-3xl tracking-wide;
  }

  a {
    @apply text-blue-700;
  }

  figure {
    @apply my-8 p-4 bg-red-700 bg-opacity-75 w-fit;

    figcaption {
      @apply pt-4;
      @apply font-mono text-white text-opacity-100 text-center;

      a {
        @apply text-gray-800;
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }

  .alignleft {
    text-align: left;
    float: left;
  }
}

@screen md {
  .container {
    h1 {
      @apply pb-2;
      @apply text-5xl;
    }
  }
}

.content {
  @apply my-3 font-sans text-justify;

  p {
    @apply my-3;
  }
}

.meta {
  @apply object-center;
  @apply py-1;
  @apply text-gray-600 text-xl;

  time {
    @apply text-gray-900;
  }
}

@screen md {
  .meta {
    @apply py-2;
    @apply text-2xl;
  }
}
